<div class="container">
  <section id="contact" class="contact section">
    <img src='images/contact-bg.svg' alt="Fondo de contacto" class="contact-img">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Contacto</h2>
    </div>

    <!-- Contact Section -->
    <div class="contact-content">

      <!-- <div class="contact-map"></div> -->
      <div class="contact-form">
        <h3>Trabajemos juntos</h3>
        <p class="highlighted-text">Si necesitas un desarrollador para tu empresa, no dudes en contactar conmigo.
          Si eres un recruiter, puedes contactar conmigo para enviarte mi CV completo.</p>
        <form [formGroup]="formulario" (ngSubmit)="createContacto()">
          <div class="form-group">
            <input type="text" formControlName="nombre" id="nombre" placeholder="Nombre" />
          </div>
          <div class="form-group">
            <input type="email" formControlName="email" id="email" placeholder="Email" />
          </div>
          <div class="form-group">
            <input type="text" formControlName="asunto" id="asunto" placeholder="¿Sobre qué quieres hablar?" />
          </div>
          <div class="form-group">
            <textarea formControlName="mensaje" rows="5" placeholder="Escribe tu mensaje"></textarea>
          </div>
          <button type="submit" class="primary-btn">Enviar <i
              class="arrow fi fi-sr-angle-double-small-right"></i></button>
        </form>
      </div>
    </div>
  </section>
</div>