/*--------------------------------------------------------------
# Resume Section
--------------------------------------------------------------*/

.resume {
  .resume-title {
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
  }

  .resume-item {
    padding: 0 0 30px 20px;
    margin-top: -2px;
    border-left: 2px solid var(--accent-color);
    position: relative;
    p {
      font-size: 1rem;
      margin-left: 10px;
    }
    h4 {
      line-height: 18px;
      font-size: 15px;
      font-weight: 600;
      text-transform: uppercase;
      color: #ffffff;
      margin-bottom: 10px;
    }
    h5 {
      font-size: 16px;
      padding: 5px 15px;
      display: inline-block;
      font-weight: 600;
      margin-bottom: 10px;
    }
    ul {
      padding-left: 20px;
      li {
        padding-bottom: 10px;
      }
    }
  }
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: var(--background-color);
  border: 2px solid var(--accent-color);
}

.text-center {
  p {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}

.title {
  width: 20rem;
  padding: 5px 10px;
  border: 1px solid #00bfe7;
  color: #fff;
  border-radius: 30px 0 60px 30px;
  position: relative;
  bottom: 8px;
}

.details {
  padding: 20px;
}

/* Estilos personalizados */

.tools__list {
  align-items: center;
  color: #88898c;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 8px 0 0 -8px;
  padding-left: 0;
}

.tools__list--item {
  flex: 0 0 auto;
  margin-left: 8px;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
}

.tools__list--item:not(:last-child):after {
  color: #ccc;
  content: "|";
  padding-left: 8px;
}

.tools__list--item:first-of-type:not(.tools__list--item--hideOnMobile) {
  display: inline-flex;
  max-width: 50%;
  min-width: 0;
}

.tech-list {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  list-style: none !important;
}

.tech-item {
  color: #ffffff;
  font-size: 12px;
  margin-top: 0.5rem;
  margin-right: 0.375rem;
  padding: 5px 7px;
  border-radius: 20px;
  list-style: none !important;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #00bfe7;
  background-color: transparent;
}

.project-description {
  ul li {
    list-style: none !important;
  }
}
