<div class="container">
  <!-- Resume Section -->
  <section id="resume" class="resume section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Resume</h2>
    </div>
    <!-- End Section Title -->
    <div class="container">
      <div class="row mb-4">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Formación</h3>
          @for (formacion of education; track $index) {
          <div class="resume-item">
            <h4 class="title">{{formacion.institucion}}</h4>
            <p><em>{{formacion.tituloObtenido}}</em></p>
            <p><em> {{ formacion.fechaInicio | date : "MMMM/yyyy" }} -
                {{
                formacion.actual ? "Actualidad" : (formacion.fechaFin | date : "MM/yyyy")
                }}
              </em></p>
            <div class="details">
              <ul class="logros__list">
                <li class="logros__list--item">
                  @for (aprendizaje of formacion.logros; track $index) {
                <li>
                  {{ aprendizaje }}
                </li>
                }
                </li>
              </ul>
              <ul class="tools__list">
                @for (tecnologias of formacion.tecnologias; track $index) {
                <li class="tools__list--item">{{ tecnologias }}</li>
                }
              </ul>
            </div>
          </div>
          }
          <!-- Edn Resume Item -->
        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <h3 class="resume-title ">Experiencia profesional</h3>
          @for (work of laboral; track $index ){
          <div class="resume-item">
            <h4 class="title">{{ work.empresa }}</h4>

            <p>
              <em>{{ work.tituloPuesto }}</em>
            </p>
            <p>
              <em>{{ work.fechaInicio | date : "dd/MM/yyyy" }} -
                {{
                work.actual ? "Actualidad" : (work.fechaFin | date : "dd/MM/yyyy")
                }}</em>
            </p>
            <h5>

            </h5>
            <div class="details">
              <ul>
                <li>
                  @for (funcion of work.funciones; track $index) {
                <li>
                  {{ funcion }}
                </li>
                }
                </li>
              </ul>
              <ul class="tools__list">
                @for (skills of work.habilidades; track $index) {
                <li class="tools__list--item">{{ skills }}
                </li>
                }
              </ul>
            </div>
          </div>
          }
          <!-- Edn Resume Item -->
        </div>
      </div>
    </div>
  </section>
  <!-- /Resume Section -->
</div>