<div class="sidenav" [class]="isLeftSidebarCollapsed() ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">
      <i class="fal fa-bars"></i>
    </button>

    @if (!isLeftSidebarCollapsed()) {
    <div class="profile-img">
      <img src="images/profileImg.png" alt="" class="img-fluid rounded-circle" />
    </div>
    <h2 class="sitename">Juan Carlos</h2>
    @for (perfil of usuario; track $index) {
    <div class="social-links text-center">
      <a href="{{ perfil.linkedin }}" target="_blank" class="linkedin">
        <i class="fab fa-linkedin"></i></a>
      <a href="{{ perfil.github }}" target="_blank" class="github">
        <i class="fab fa-github"></i></a>
      <a href="{{ perfil.instagram }}" class="instagram">
        <i class="fab fa-instagram"></i></a>
      <!-- <a href="{{ perfil.websiteURL }}" class="personal-website">
        <i class="fi fi-rr-site-alt"></i></a> -->
    </div>
    }
    <button class="btn-close" (click)="closeSidenav()">
      <i class="fal fa-times close-icon"></i>
    </button>
    }
  </div>
  <div class="sidenav-nav">
    @for (item of items; track $index) {
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" [routerLink]=" item.routeLink" (click)="scrollToSection(item.id)"
        routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="sidenav-link-icon" [class]="item.icon"></i>
        @if (!isLeftSidebarCollapsed()) {
        <span class="sidenav-link-text">{{ item.label }}</span>
        }
      </a>
    </li>
    }
  </div>
</div>








<!-- 
@for (perfil of usuario; track $index) {
<div id="header" class="header close d-flex flex-column position-relative">
  <i class="header-toggle d-xl-none bi fi fi-rr-menu-burger
  " (click)="toggleNavbar()"></i>

  <div class="profile-img">
    <img src="images/profileImg.png" alt="" class="img-fluid rounded-circle" />
  </div>

  <a [routerLink]="['/']" class="logo d-flex align-items-center justify-content-center">
    <h2 class="sitename">{{ perfil.nombre }}</h2>
  </a>

  <div class="social-links text-center">
    <a href="{{ perfil.linkedin }}" target="_blank" class="linkedin">
      <i class="fi fi-brands-linkedin"></i></a>
    <a href="{{ perfil.github }}" target="_blank" class="github">
      <i class="fi fi-brands-github"></i></a>
    <a href="{{ perfil.instagram }}" class="instagram">
      <i class="fi fi-brands-instagram"></i></a>
    <a href="{{ perfil.websiteURL }}" class="personal-website">
      <i class="fi fi-rr-site-alt"></i></a>
  </div>
  <nav id="navmenu" class="navmenu">
    <ul>
      <li>
        <a [routerLink]="['/']" (click)="scrollToSection('home')" routerLinkActive="active-link">
          <i class="fi fi-rr-house-chimney navicon"></i> Home
        </a>
      </li>
      <li>
        <a [routerLink]="['/']" (click)="scrollToSection('about')" routerLinkActive="active-link">
          <i class="fi fi-rr-user navicon"></i> Sobre mí
        </a>
      </li>
      <li>
        <a [routerLink]="['/']" (click)="scrollToSection('resume')" routerLinkActive="active-link">
          <i class="fi fi-rr-career-growth navicon"></i> Resumen
        </a>
      </li>
      <li>
        <a [routerLink]="['/']" (click)="scrollToSection('portfolio')" routerLinkActive="active-link">
          <i class="fi fi-rr-code-branch navicon"></i> Portafolio
        </a>
      </li>
      <li>
        <a [routerLink]="['/']" (click)="scrollToSection('contact')" routerLinkActive="active-link">
          <i class="fi fi-rr-message-code navicon"></i> Contactar
        </a>
      </li>
    </ul>
  </nav>

</div>
} -->