@for (usuarios of usuario; track $index) {
<!-- About Section -->
<section id="about" class="about section">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Sobre mí</h2>
    <p></p>
  </div>
  <!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4 justify-content-center">
      <div class="col-lg-4">
        <img src="images/profileJc.jpg" class="img-fluid" alt="" />
      </div>
      <div class="col-lg-8 content">
        <h2>Web Developer.</h2>
        <p class="fst-italic py-3">
          {{ usuarios.aboutme }}
        </p>
      </div>
    </div>
  </div>
</section>
<!-- /About Section -->





<!-- Skills Section -->
<section id="skills" class="skills section light-background">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Skills</h2>
    <p>
      Necessitatibus eius consequatur ex aliquid fuga eum quidem sint
      consectetur velit
    </p>
  </div>
  <!-- End Section Title -->

  <div class="body">
    <div class="hexagon-grid">
      <!-- Ejemplo de iconos, reemplazar con tus propios iconos -->
      <div class="hexagon">
        <div class="circle"><img
            src="https://cdn.prod.website-files.com/62d56cdfee83ff60e9a6bb30/62f6573e0a751717a928de0c_1.png"
            loading="lazy" alt="" class="image-435"></div>
      </div>
      <div class="hexagon"><img src="icon2.png" alt="App 2"></div>
      <div class="hexagon"><img src="icon3.png" alt="App 3"></div>
      <div class="hexagon"><img src="icon4.png" alt="App 4"></div>
      <div class="hexagon"><img src="icon5.png" alt="App 5"></div>
      <div class="hexagon"><img src="icon6.png" alt="App 6"></div>
      <div class="hexagon"><img src="icon7.png" alt="App 7"></div>
      <div class="hexagon"><img src="icon8.png" alt="App 8"></div>
      <div class="hexagon"><img src="icon9.png" alt="App 9"></div>
      <div class="hexagon"><img src="icon10.png" alt="App 10"></div>
      <div class="hexagon"><img src="icon11.png" alt="App 11"></div>
      <div class="hexagon"><img src="icon12.png" alt="App 12"></div>
      <div class="hexagon"><img src="icon13.png" alt="App 13"></div>
      <div class="hexagon"><img src="icon14.png" alt="App 14"></div>
      <div class="hexagon"><img src="icon15.png" alt="App 15"></div>
      <div class="hexagon"><img src="icon16.png" alt="App 16"></div>
      <div class="hexagon see-all">Ver todos 57</div>
    </div>
  </div>

</section>
<!-- /Skills Section -->
}