<!-- About Section -->
<section id="about" class="about section">
  @for (usuarios of usuario; track $index) {
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>About</h2>
    <p></p>
  </div>
  <!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row gy-4 justify-content-center">
      <div class="col-lg-4">
        <img src="images/profileJc.jpg" class="img-fluid" alt="" />
      </div>
      <div class="col-lg-8 content">
        <h2>Web Developer.</h2>
        <p class="fst-italic py-3">
          {{ usuarios.aboutme }}
        </p>
      </div>
    </div>
  </div>
  }
</section>
<!-- /About Section -->
