<div class="container">
  <!-- Resume Section -->
  <section id="portfolio" class="resume section">
    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Proyectos</h2>
      <!-- <p>
        En esta sección encontrarás información sobre mi experiencia laboral y los
        proyectos en los que he trabajado.
      </p> -->

      <!-- @for (proyectos of projects ; track proyectos.id ;) {
  <section class="wrapper">
    <div class="project__container">
      <div class="inner__descriptionText site-container">
        <article class="outer__projectBox">
          <div class="project__image">
            <img src="images/work02-hover.jpg" class="about-me__profile" alt="about me profile picture">
          </div>
          <div class="projectBox--bottom">
            <div class="project__name">
              <h2 class="project--title">{{proyectos.titulo}}</h2>
            </div>
            <div class="tech__list">
              @for (skill of proyectos.tecnologiasConIcono; track $index) {
              <span class="list--item">
                <img [src]="skill.icon" [alt]="skill.icon" width="20" height="20">
                {{ skill.skill}}</span>
              }
            </div>
          </div>
        </article>
        <div class="project__description">
          <div class="about-me-slider">
            <div class="about-me-single-slide">
              <h2 class="project--title project--title-bckg">Acerca de este proyecto</h2>
              <p>{{proyectos.descripcion}}</p>
              <div class="project_link">
                <a href="https://github.com/Pascual-Eburi/automatricula" target="_blank" rel="noopener noreferrer">
                  <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                    stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                    </path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="image__backg" style="background-image: url('images/work02-hover.jpg')"></div>
    </div>
  </section>
  } -->
      <div class="carrusel">
        <p-carousel [value]="projects" [numVisible]="1" [numScroll]="1" [circular]="true"
          [responsiveOptions]="responsiveOptions" autoplayInterval="10000">
          <ng-template let-project pTemplate="item">
            <div class="project__container">
              <section class="wrapper">
                <div class="inner__descriptionText site-container">
                  <div class="outer__projectBox">
                    <div class="project__image">
                      <img src="images/work02-hover.jpg" class="about-me__profile" alt="about me profile picture">
                    </div>
                    <div class="projectBox--bottom">
                      <h3 class="project--title">{{ project.titulo }}</h3>
                      <div class="tech__list">
                        @for (skill of project.tecnologiasConIcono; track $index) {
                        <span class="list--item">
                          <img [src]="skill.icon" [alt]="skill.skill" width="20" height="20">
                          {{ skill.skill }}
                        </span>
                        }
                      </div>
                    </div>
                  </div>
                  <div class="project__description">
                    <h3>Acerca de este proyecto</h3>
                    <p>{{ project.descripcion }}</p>
                    <div class="project_link">
                      <a href="https://github.com/Pascual-Eburi/automatricula" target="_blank" rel="noopener noreferrer"
                        class="btn__project">
                        <span>Ver código</span>
                        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
                          stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em"
                          xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                          </path>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="image__backg" style="background-image: url('images/work02-hover.jpg')"></div>
              </section>
            </div>
          </ng-template>
        </p-carousel>
      </div>

    </div>