.row p {
  font-size: 1.3rem !important;
  line-height: 1.7 !important;
}

.row-aboutme span {
  font-size: 3rem !important;
  line-height: 1.7 !important;
}

#skills {
  margin-top: 10rem !important;
}
/* section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  overflow: clip;
} */

/* Estilos generales */
.logo-in-main {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  transition: transform 0.4s ease; /* Agregamos una transición suave */
  height: 9rem;
}

.image-435 {
  z-index: 5;
  border-radius: 500px;
  width: 70px;
  display: inline-block;
  position: relative;
  inset: 0%;
  bottom: 108px;
  left: 24px;
  /* box-shadow: 0 0 14px 1px #00bfe7; */
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.hexagon-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  max-width: 1000px;
}

.hexagon {
  position: relative;
  width: 120px;
  height: 138px;
  /* clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 0 5px #00bfe7) drop-shadow(0 0 5px #00bfe7);
}

.hexagon:hover {
  transform: scale(1.1);
  transition: transform 0.9s ease;
  /* background-color: #000;
  opacity: 1; */
  /* Efecto neon */
  filter: drop-shadow(0 0 10px #00bfe7) drop-shadow(0 0 10px #00bfe7);
}

.hexagon img {
  max-width: 60px;
  max-height: 60px;
  object-fit: contain;
}

.see-all {
  background-color: rgba(0, 255, 255, 0.1);
  color: cyan;
  text-align: center;
  line-height: 138px;
}
