/*****************
*  MEDIA QUERYS  *
*****************/

@media (min-width: 1024px) {
  .titleAb h2,
  h3 {
    font-size: 2rem;
  }
  .text__about p {
    margin: 0 7rem;
    font-size: 1.5rem;
  }
  .hexagon {
    width: 120px;
    height: 138px;
  }

  .circle {
    width: 5rem;
  }

  .hexagon__grid {
    margin: 0 8rem;
  }

  .figures--geo {
    margin: 0 2rem;
  }
  .image--tool {
    inset: 0%;
    top: -6.7rem;
    left: 1.2rem;
  }
}

@media (max-width: 1180px) {
  .titleAb h2,
  h3 {
    font-size: 1.9rem;
  }
  .text__about p {
    margin: 0 3rem;
    font-size: 1.5rem;
  }

  .figures--geo {
    height: 7rem;
    margin: 0 1rem;
  }
  .hexagon__container {
    margin-bottom: 5rem;
  }
  .hexagon {
    width: 5rem;
    height: 138px;
  }
  .hexagon__grid {
    margin: 0 3rem;
  }
  .circle {
    width: 3rem;
  }

  .image--tool {
    inset: 0%;
    top: -6rem;
    left: 1rem;
  }
}

@media (max-width: 767px) {
  .titleAb h2,
  h3 {
    font-size: 24px;
  }
  .text__about p {
    font-size: 0.9rem;
    margin: 0 1rem;
  }
  .figures--geo {
    height: 7rem;
    margin: 0 1rem;
  }
  .hexagon {
    width: 5rem;
    height: 138px;
  }
  .hexagon__grid {
    margin: 0 1rem;
  }
  .circle {
    width: 3rem;
  }

  .image--tool {
    height: auto;
    inset: 0%;
    top: -5.8rem;
    left: 1rem;
  }
}

/*****************
*     MOBILE      *
*****************/

#skills {
  margin: 4rem 0 !important;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titleAb h2,
h3 {
  text-align: center;
  font-weight: 450 !important;
  margin: 3rem auto;
}
.text__about {
  p {
    line-height: 1.5;
    color: grey;
  }
}

.profile--picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img__container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid rgba(0, 191, 231, 0.9);
  box-shadow: 0 0 15px rgba(0, 191, 231, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
  margin: 2rem;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  /* img { width: 100%; height: auto; } */
}

.img__container:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px rgba(0, 191, 231, 1);
}

.image--tool {
  z-index: 5;
  border-radius: 50%;
  width: 100%;
  display: inline-block;
  position: relative;
}

.hexagon__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.hexagon {
  filter: drop-shadow(0 0 5px #00bfe7) drop-shadow(0 0 5px #00bfe7);
}

.hexagon:hover {
  transform: scale(1.2);
  transition: transform 0.6s ease;
  filter: drop-shadow(0 0 10px #00bfe7) drop-shadow(0 0 10px #00bfe7);
}

.hexagon__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.circle {
  border-radius: 50%;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

