<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
        <div class="text-center">
          <h2 class="h2">02 : Trabajos y Proyectos</h2>
          <p>
            En esta sección encontrarás información sobre mi experiencia laboral
            y los proyectos en los que he trabajado.
          </p>
        </div>
      </div>

      >
      <section>
        @for (experiencia of laboral; track experiencia.id ){
        <div>
          <!-- Experiencia 1 -->
          <article class="grid grid-cols-1 md:grid-cols-5 gap-4">
            <!-- Empresa y Descripción -->
            <div class="relative md:col-span-2">
              <section>
                <h4 class="tittle">
                  {{ experiencia.empresa }}
                </h4>
                <p class="text-md text-gray-400 italic">
                  <time datetime="2021-10">{{
                    experiencia.fechaInicio | date : "dd/MM/yyyy"
                  }}</time>
                  -
                  <time datetime="2024-02">{{
                    experiencia.fechaFin | date : "dd/MM/yyyy"
                  }}</time>
                </p>
                <p class="text-md text-gray-400 italic">
                  Actual:
                  <span class="text-gf-yellow">{{
                    getActualStatus(experiencia.actual)
                  }}</span>
                </p>
              </section>
              <p class="text-description">
                {{ experiencia.descripcion }}
              </p>
            </div>
            <!-- Detalles y habilidades -->
            <div class="relative md:col-span-3">
              <ul
                class="list-disc flex flex-col gap-1 pb-4 text-description text-gray-200"
              >
                @for (funcion of experiencia.funciones; track $index) {
                <li>
                  {{ funcion }}
                </li>
                }
              </ul>
              <p class="text-md text-gray-400 font-semibold">Habilidades:</p>
              <ul
                class="list-disc flex flex-col gap-1 pb-4 text-habilidad text-gray-200"
              >
                @for (objH of habilidadesObjetos; track $index) {
                <li>{{ objH.habilidad }}</li>
                }
              </ul>
            </div>
          </article>
        </div>
        }
      </section>
    </div>
  </div>
</div>
